html {
  height: 100%;
}

body{
  color: #35312F;
  /* color: #35312F; */
  /* color: #fff; */
  /* color: #F1C26E; */
  /* background: #E88F24; */
  background-image: linear-gradient(#E88F24, #DF7626);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-image: linear-gradient(red, yellow); */
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'ABeeZee', sans-serif;

}

.results-name {
  color: white;
}

.results-city {
  color: white;
}

.results-phone a:link {
  color: white;
}

.results-email a:link {
  color: white;
}

.editdetails {
  font-size: 16px;
  margin-top: -7px;
  color: grey;
}

.confirmchoices {
  color: #bd5628;
  font-size: 28px;
}

.matchsection {
  background: #F1C26E;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 3px;
}

.font-profileinfotitle {
  font-size: 50px;
}

.font-profiledetailstitle {
  margin-bottom: -5px;
  font-size: 23px;
}

.font-userdetails {
  margin-top: -7px;
  color: #BD5628;
  font-size: 32px;
}

.font-maintitle {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
}

.usertitledata {
  padding-top: 7px;
  padding-bottom: 7px;
}

.profilesection {
  margin-top: 10px;
  margin-bottom: 10px;
}

  .form-control{
  height: 41px;
  background: #f7e1ba;
  /* background: #F1C26E; */
  box-shadow: none !important;
  border: none;
  margin: 10px;
}


.signup-form {
  max-width: 400px;
  margin: 30px auto;
}

.confirmchoice {
  color: #35312F;
}

.signup-formcolor {
  color: #35312F;
}

.signup-form form{
  color: #35312F;
  /* color: #999; */
  border-radius: 3px;
    margin-bottom: 15px;
    background: #fffdf9;
      /* background: #F1C26E; */
      /* background: #F1C26E; */
      /* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); */
      box-shadow: 0px 2px 2px rgba(0, 0.9, 0, 0.9);
      padding: 30px;
  }
  .signup-form .result {
    color: #35312F;
    /* color: #999; */
    border-radius: 3px;
      margin-bottom: 15px;
      background: #fffdf9;
        /* background: #F1C26E; */
        /* background: #F1C26E; */
        /* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); */
        box-shadow: 0px 2px 2px rgba(0, 0.9, 0, 0.9);
        padding: 30px;
    }

.signup-form .form-group{
  margin-bottom: 20px;
}
  .signup-form .btn{
      font-size: 16px;
      font-weight: bold;
  background: #E88F24;
  border: none;
  min-width: 140px;
  }
.signup-form .btn:hover, .signup-form .btn:focus{
  background: #E88F24 !important;
      outline: none;
}
  .signup-form a{
  color: #fff;
  text-decoration: underline;
}
.signup-form a:hover{
  text-decoration: none;
}
.signup-form form a{
  color: #E88F24;
  text-decoration: none;
}
.signup-form form a:hover{
  text-decoration: underline;
}
.footer {
  text-align:center;
  color: #686250;
}
